body {
  background: url("https://taylorsdigiameereqbal.files.wordpress.com/2014/07/blue_sunny_sky.jpg")
    no-repeat center fixed;
  background-size: cover;
}

.main-title {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  width: 30%;
  height: 50%;
  padding: 10px;
  box-shadow: 0 1px 5px 1px pink;
  border-radius: 2px;
  color: #fff;
  background-color: #000000;
  opacity: 0.6;
}

h1 {
  color: #adff2f;
}
